node_modules/
log/

*.sqlite-*
*.bak
*.tmp
*.rptdesign
*.wsdl
*.xltm
*.xls

WinCCOAFrameworkAppExample/colorDB/.colorDB.lock

WinCCOAFrameworkAppExample/data/xls_report/Report.cmd
WinCCOAFrameworkAppExample/data/xls_report/Report.mdb
WinCCOAFrameworkAppExample/data/Reporting/Templates/InformationServer/WinCC_OA_LineChart.rdl
WinCCOAFrameworkAppExample/data/Reporting/Templates/InformationServer/WinCC_OA_AlarmTable.rdl
WinCCOAFrameworkAppExample/data/Reporting/Templates/BIRT/localization.properties
WinCCOAFrameworkAppExample/data/Reporting/Templates/BIRT/localization_de_AT.properties
